<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Perso Finance Dashboard</title>
</head>
<body>
<main>
    <div class="sidebar-wrapper" data-simplebar="true">
        <div class="sidebar-header">
            <div>
                <img th:src="@{/assets/plugins/images/comptabilite.png}" class="logo-icon" alt="logo icon">
            </div>
            <div>
                <h4 class="logo-text">Perso Finance</h4>
            </div>
            <div class="toggle-icon ms-auto"><i class='bx bx-arrow-back'></i></div>
        </div>
        <!-- Navigation -->
        <ul class="metismenu" id="menu">
            <li>
                <a href="javascript:" class="has-arrow">
                    <div class="parent-icon"><i class="fa-solid fa-piggy-bank"></i></div>
                    <div class="menu-title">Accounts</div>
                </a>
                <ul>
                    <li><a th:href="@{/accounts/add}"><i class='bx bx-radio-circle'></i>Add Account</a></li>
                    <li><a th:href="@{/accounts}"><i class='bx bx-radio-circle'></i>Get Account</a></li>
                </ul>
            </li>
            <li>
                <a href="javascript:" class="has-arrow">
                    <div class="parent-icon"><i class="fa-solid fa-piggy-bank"></i></div>
                    <div class="menu-title">Transactions</div>
                </a>
                <ul>
                    <li><a th:href="@{/get-add-trans}"><i class='bx bx-radio-circle'></i>Add Transaction</a></li>
                    <li><a th:href="@{/get-transactions}"><i class='bx bx-radio-circle'></i>Get Account</a></li>
                </ul>
            </li>
            <li>
                <a href="javascript:" class="has-arrow">
                    <div class="parent-icon"><i class="fa-solid fa-piggy-bank"></i></div>
                    <div class="menu-title">Categories</div>
                </a>
                <ul>
                    <li><a th:href="@{/get-add-category}"><i class='bx bx-radio-circle'></i>Add Category</a></li>
                    <li><a th:href="@{/get-categories}"><i class='bx bx-radio-circle'></i>View Categories</a></li>
                </ul>
            </li>
            <li>
                <a href="javascript:" class="has-arrow">
                    <div class="parent-icon"><i class="fa-solid fa-piggy-bank"></i></div>
                    <div class="menu-title">Budgets</div>
                </a>
                <ul>
                    <li><a th:href="@{/get-add-budgets}"><i class='bx bx-radio-circle'></i>Add Budget</a></li>
                    <li><a th:href="@{/budgets}"><i class='bx bx-radio-circle'></i>View Budget</a></li>
                </ul>

            </li>
        </ul>
    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h1>Welcome User ID: <span th:text="${loggedInUserId}"></span></h1>
                </div>
            </div>
        </div>
    </div>

<!--    <div class="container">
        <div class="row">
            <div class="col-md-3" th:if="${user != null}" id="user-info">
                <h1>Welcome, <span th:text="${loggedInUserName}"></span>!</h1>
                <p>User ID: <span th:text="${loggedInUserId}"></span></p>
                <p>Full Name: <span th:text="${user.firstName} + ' ' + ${user.lastName}"></span></p>
            </div>
        </div>
    </div>-->
</main>
</body>
</html>
